@using Rota.Models

<div class="reminder-item" @onclick:stopPropagation="true" @onclick="HandleEdit" style="background:@(Reminder.Color ?? "#ffeb3b"); color: #111;">
    <div class="reminder-top d-flex w-100">
        <div class="reminder-for flex-grow-1 text-start text-truncate">@(Reminder.ForDisplayName ?? Reminder.ForUsername)</div>
        <div class="reminder-title text-end text-truncate">@Reminder.Title</div>
    </div>
    <div class="reminder-bottom w-100">
        <div class="reminder-time">@Reminder.ReminderDateTime.ToLocalTime().ToString("t")</div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Reminder Reminder { get; set; } = default!;

    [Parameter]
    public EventCallback<Reminder> OnEdit { get; set; }

    private Task HandleEdit()
        => OnEdit.HasDelegate ? OnEdit.InvokeAsync(Reminder) : Task.CompletedTask;
}
